@import 'compass/reset';
@import 'compass/css3';
 
@include font-face('_Sans Guilt MB', font-files('SansGuiltMB.otf'));
 
$linkPrimaryColor: #333;
$bodyFont: '_Sans Guilt MB', 'Helvetica', sans-serif, 'Sans Guilt MB';
$monoFont: 'Anonymous Pro', monospace;

body {
  background: #fff;
  text-rendering: optimizelegibility;
  font-smoothing: antialiased;

  .page--search {
    input[type] {
      &[type="text"] {
        border-bottom: 1px solid #BBBBBB;
        border-left: medium none;
        border-top: 1px solid #DDDDDD;
        font: {
          size: 3rem;
        }
        width: 40rem;
      }
      &[type="submit"] {
        background: none repeat scroll 0 0 #EEEEEE;
        border: medium none;
        display: block;
        padding: 0.5rem 4rem;
      }
    }
  }

  &,input,textarea,select,a {
    font-family: $bodyFont;
    font-size: 1.1em;
    color: $linkPrimaryColor;
  }
  pre {
    font-family: 'Anonymous Pro', monospace;
    padding: .5rem;
  }
  .pre {
    font-family: 'Anonymous Pro', monospace;
  }
  div.related {
    background: #fff;
    color: #333;
    a {
      color: $linkPrimaryColor;
      font-family: $bodyFont;
    }

    &:nth-child(1) {
      ul {
        li:last-child {
          background: url('http://www.epantry.com/images/logo.png') no-repeat;
          display: block;
          float: left;
          height: 60px;
          margin: 10px 0 0;
          text-align: left;
          text-indent: -9999px;
          width: 200px;
          &:after { 
            content: "/docs/";
          }
        }
      }
    }
  }

  div.footer {
    color: #ccc;

    a {
      color: #777;
    }
  }

  div.document {

    background: #fff;
    color: #333;

    div.body {
      //background: url("http://www.epantry.com/images/grad.png") no-repeat scroll center 73px #D1E9F6;
      border-left: 1px #ddd solid;
      border-top: 1px #aaa solid;
      img {
        margin: 0 0 1.5rem;
      }
      pre {
        padding: 1rem;
        margin: 1.5rem 0;
        border: 1px #5B978F solid;
      }

      ul, ol {
        margin-left: 2rem;
      }
      p {
        padding: 1rem;
        background: #fff;
        //border-radius: .5em;
        margin-top: 1rem;
        margin-bottom: 1.5rem;
      }
      h1, h2, h3, h4, h5, h6 {
        margin-bottom: 2rem;
        color: $linkPrimaryColor;
        font-family: "Overlock", $bodyFont;
        padding: .65rem 20px .85rem;
        background: #fff;
        border-bottom: none;
        border-right: 1px #336699 solid;
        border-right-width: 1px;
      }

      h1 {
        border-right-width: 100px;
      }

      h2 {
        border-right-width: 60px;
      }

      h3 {
        border-right-width: 20px;
        border-right-color: #336699;
      }
    }

    div.sphinxsidebar {
      background: none;
      line-height: 1.2;
      a {
        color: $linkPrimaryColor;
        font-family: $bodyFont;
      }

      ul {
        color: #e0e0e0;
        a {
          color: #336699; 
        }
        ul {
          a {
            color: #555;
          }
          ul {
            color: #336699;
            a {
              color: #999;
            }
          }
        }
      }
      h1, h2, h3, h4, h5, h6 { 
        &,a {
          color: $linkPrimaryColor;
          font-family: $bodyFont;
        }
      }
      div.sphinxsidebarwrapper {
        background: #fff;
        //position: fixed;
      }
    }

    .documentwrapper {
      border-bottom: 1px #ccc solid;
      .bodywrapper {

      }
    }

  }

  #searchbox {
    input {
      font-family: $bodyFont;
    }
    input[type="text"] { 
      padding: .5em;
      border: none;
      border-top: 1px #ddd solid;
      border-bottom: 1px #bbb solid;
      font-style: italic;
    }
    input[type="submit"] { 
      padding: .5em;
      background: #fff;
      border: none;
    }
  }
}
