@import "mixins";
@import "modal-utils";
@import "app";
@import "compass/css3/transform";

@include font-face('Mic New Rd', font-files('/static/fonts/Mic32NewRd-Rg.otf'));
@include wiggle;

// Default Typesetting

body,input,textarea,button {
  font-family: Helvetica, sans-serif, Arial;
  font-weight: 200;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'DIN', 'Mic New Rd', sans-serif;
  font-weight: 200;
}

// Modal

.reveal-modal {
  @include border-radius(.1rem);
}

// Form Styling

form.form-default {

  input {
    background-color: #DBE7EF;
    border-top: 1px #94B5CD solid;
    border-left: 1px #94B5CD solid;
    @include border-radius(.4rem);
  }

  input, select {
    font-family: Helvetica, sans-serif, Arial;
    font-weight: 200;
  }

}

html.eP-dashboard {
  height: 100%;
  min-height: 100%;
}

// ePantry Dashboard

body.eP-dashboard {

  height: 100%;
  min-height: 100%;

  &:active,
  &:focus,
  &:hover {
    .m--pantry-panel {
      @include translateY(-130px);

      .log {
        background: #F0F5F9 !important;
      }
    }
  }

  &.eP-pay {
    .m--pantry-panel {
      @include translateY(0px);

      .log {
        background: #00AB6B !important;
      }
    }
  }

  .app-header {
    .inner {
      width: 100%;
      max-width: 100%;
    }
  }

  div.m.m--social {
    right: 80px;
  }

  div.app-login {
    right: 10px;
    &.hide {
      display: none;
    }
  }

  div.app-content {
    width: 100%;
    max-width: none;

    article.app--page {
      width: 100%;
      margin: 0;
      padding: 0;

      h1 {
        margin: .5rem 0;
      }
    }
  }
}

// ePantry

body.eP {
  
  // == App General Stylings == //

  color: #636363;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #f7f9fb;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-weight: 400;

  .hidden {
    display: none;
  }

  h1 {
    color: #21ac62;
    font-weight: 300;
    text-transform: uppercase;
    font-style: normal;
    text-shadow: 0 0 2px #fff;
  }

  h2 {
    color: #21ac62;
    font-style: normal;
  }


  // == App Assistive == //

  .app-assistive {
    position: absolute;
    left: -9999px;
  }


  // == App History == //

  .app-history {
    display: none;
  }


  // == App Container == //

  .app-container {
    .layout {
      .page--container {
      }
      
      .page--sidebar { 
      }
    }
  }


  // == App Landing == //

  .app-login {
    position: absolute;
    right: 0px;
    margin-top: 25px;
    .button {
      @include std-btn;
    }
  }

  .app--page.landing { 

    //background: url("/static/img/ui/sprite-fixtures.png") no-repeat scroll 0px -940px transparent;

    div.page {

      .page-body {
        margin-top: 50px;
        margin-bottom: 75px;
      }

      .page-footer {
        @extend .columns;
        @extend .small-9;
        @extend .small-centered;
        h3 {
          text-align: center;
          text-transform: uppercase;
          color: #2baa64;
        }

        ul {

          margin-bottom: 60px;

          .brand a {
            text-indent: -9999px;
            display: block;
            background: url("/static/img/ui/sprite-fixtures.png") no-repeat transparent;
            height: 60px;
            @extend .columns;
            @extend .small-3;
          }

          .brand.first a {
            background-position: 10px -830px;
          }

          .brand.second a {
            background-position: -175px -830px;
          }

          .brand.third a {
            background-position: -370px -830px;
          }

          .brand.fourth a {
            background-position: -559px -830px;
          }
        }
      }

      ul {
        @extend .row;

        .perk {
          @extend .columns;
          @extend .small-4;
          &.first {
            h2 {
              background: url("/static/img/ui/sprite-fixtures.png") no-repeat scroll 95px -630px transparent;
            }
          }

          &.second {
            h2 {
              background: url("/static/img/ui/sprite-fixtures.png") no-repeat scroll -180px -630px transparent;
            }
          }

          &.third {
            h2 {
              background: url("/static/img/ui/sprite-fixtures.png") no-repeat scroll -450px -630px transparent;
            }
          }
          h2 {
            margin-top: 25px;
            padding-top: 140px;
            color: #222;
            font-size: 1.3rem;
            text-transform: uppercase;
          }
          .content {
            min-height: 7.5rem;
            text-align: center;
            color: #222;
          }

          a { 
            @include std-btn;
          }
        }
      }
    }

    .perk {
      p { 
      }
      .button { }
    }
  }


  // == App Intro == //

  .app-intro {

    background: #031b2d url('/static/img/ui/landing-header-bg.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 450px;
    margin-top: 20px;
    position: relative;
    z-index: 5;

    &:after {
      background: url("/static/img/ui/sprite-fixtures.png") no-repeat scroll -274px -974px transparent;
      content: " ";
      display: block;
      height: 24px;
      left: 50%;
      margin-left: -110px;
      position: absolute;
      top: 0;
      width: 220px;
      top: 448px;
    }

    border-bottom: 4px #2baa64 solid;

    .m.m--login {

      &, h1 {
        color: #2d85c5;
      }

      h1 {
        margin: 0;
        line-height: 1.1;
        font-size: 2.35em;
      }

      label, input {
        text-transform: lowercase;
        font-family: 'DIN', 'Mic New Rd', sans-serif;
        font-size: 1.3rem;
      }

      label {
        display: block;
      }

      input {
        padding: .5rem;
        border: 3px #dbdcdd solid;
        margin: .5rem .5rem 1rem 0;
        @include border-radius(.5rem);
      }

      button {
        background: url("/static/img/ui/sprite-fixtures.png") no-repeat scroll -185px -470px transparent;
        border: none;
        text-indent: -9999px;
        width: 50px;
        height: 50px;
        margin: 0;
        padding: 0;
      }

      position: absolute;
      left: 50%;
      margin-left: -550px;
      top: 15px;

      .inner {

        &:before {
          content: " ";
          display: block;
          height: 380px;
          width: 400px;
          background: #fff;
          position: absolute;
          z-index: 1;
          opacity: .75;
        }

        .m-title,.m-body {
          position: relative;
          z-index: 2;
          padding: 20px;
        }

        .m-body {
          margin: 0 15px;
        }

      }
    }
  }


  // == Brand Orbital == //

  .brand-orbital {

    margin-bottom: 50px;

    .m.m--faq {
      position: absolute;
      top: -50px;
      right: 0;
      h2 {
        font-size: 1rem;
      }
    }

    .m.m--savings {
      text-align: center;
      padding-top: 20px;
      h2 {
        line-height: 1;
      }
      dl {
      }
      dt {
        font-weight: 400;
      }
      dd {
        font-family: 'DIN', 'Mic New Rd', sans-serif;
        font-size: 2.5rem;
        color: #21ac62;
        line-height: 1;
      }
    }

    .m.m--navigation {

      .back {
        @include std-btn;
        @include sec-btn;
      }

      .next {
        @include std-btn;
      }

      .m-body {
      }
    }


    section.page--section,
    .page--section {
      @include box-shadow(0 0 .5rem #74b4e1);
      @include border-radius(.4rem);
    }

    .page-note { 
      // @note What is a "page note" Is it an <aside>?
      // 07 2013 05 10:44:20
      text-align: center;
      .tip {
      }
    }

    .m.m--product-orbit {

      .product-orbit {
        width: 680px;
        margin: 0 auto;
        padding: 30px 0;
        overflow: hidden;

        // Brand Orbital Product View Skin Spec
        // 07 2013 05 08:49:10
        li.m--product {

          @include transition-property(background, border);
          @include transition-duration(0.3s);
          @include transition-timing-function(ease-out);

          height: 150px;
          width: 150px;
          @include border-radius(200px);
          @include box-shadow(0 0 .5rem #74b4e1);
          background-color: #fff;
          border: 10px solid #fff;

          margin: 0 10px 85px;

          // inner circle (default)
          // @note probably set to "clear"
          &:after {
          }

          .add-product {
            display: none !important;
          }

          // add back
          // @note think of this as a toggle
          //       07 2013 05 13:15:21
          &.exclude {
            opacity: .85; 
            background: #F7F9FB;
            border-color: #F7F9FB;
            @include box-shadow(0 0 .5rem #ccc);

            .remove-product {
              display: none !important;
            }

            &:hover {
              .add-product {
                display: block !important;
              }
            }

            &:not(:hover) {
              // @note compatibility, fall back: opacity!
              // @bug webkit? chrome? safari?
              // 07 2013 05 14:36:13
              filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); 
              filter: gray;
              -webkit-filter: grayscale(100%);
              -o-opacity: .8;
              -ms-opacity: .8;
            }

            // inner circle
            &:after {
            }

            &:hover,
            &.over {
              background-color: #aed7a0;
            }
          }//.exclude

          // hover
          &:hover,
          &.over {
            background: #afd1e9;
            // inner circle
            &:after {
            }
          }

          // other hubris

          position: relative;

          .m-title {
            bottom: -1.5rem;
            left: 50%;
            margin-left: -75px;
            max-width: 150px;
            position: absolute;
            text-align: center;
            width: 150px;
            a {
              color: #031b2d;
            }
          }

          .m-image {
            img { 
              max-width: 75px;

              // "learn more"
              &:after {
                background: #1e955a;
              }
            }
          }

          &:hover,
          &.over {
            .m-control {
              left: auto !important;
            }
          }

          .m-control {
            left: -9999px;
            position: absolute;
            top: 50%;
            margin-top: -1rem;
            text-align: center;
            width: 100%;

            .remove {
            }

            .add-product {
            }

            .add-product:active {
              & + a {
                display: block;
              }
            }

            .remove-product {
            }

            .remove-product:hover {
              & ~ a {
                display: none;
              }
            }

            &.hide {
              position: absolute;
              left: -9999px;
            }

            &.show {
              position: absolute;
              left: auto !important;
            }
            
            a.remove {
              @include std-btn;
              @include btn-remove;
            }
          }
        }
      }
    }

    // == Module Product View == //

    .m.m--product {
      // @overrides
      float: left;
      width: 20%;
      .m-title {
        height: 2rem;
        position: relative;
        z-index: 10;
        font-weight: 400;
        font-size: .9rem;
        padding-top: 2rem;
      }
      .m-image {
        min-height: 9rem;
        text-align: center;
        img {
          position: relative;
          bottom: 50%;
          margin-top: 1rem;
        }
      }
      .m-remove {
        border-top: 1px #eee solid;
        margin-top: 1rem;
        padding-top: 1rem;
      }
    }

    .page-sidebar {
      background: #e2edf5;
    }
  }

  // == App Header == //

  .app-header { 
    background: #031b2d url('/static/img/ui/sprite-fixtures.png') 0 86px repeat-x;

    height: 120px; // @designspec

    &.fixed {
      position: fixed;
      z-index: 50;

      .inner {
        background: url('/static/img/ui/sprite-fixtures.png') 0 86px repeat-x;
        height: 120px;
      }
    }

    .inner {
      position: relative;
      @extend .row;
    }

    .app-logo {
      @extend .small-2;
      @extend .columns;
      margin-top: 25px;
      a {
        display: block;
        width: 160px;
        height: 52px;
        background: url('/static/img/ui/sprite-fixtures.png') 0 -60px no-repeat;
        span { 
          position: absolute;
          left: -9999px;
        }
      }
    }

    // module overrides
    .m--progress {

    }

    .m.m--pagination {
      .m-body {
      }
    }
  }

  // == App Content == //

  .app-content {
    @extend .row;

    h1 {
    }

    h2 {
    }

    .next { 
    }

    article.app--page {

      @extend .columns;
      @extend .small-12;

      

    }
  }

  .app-footer {
    .inner {
    }
  }

  // == App Modals == //

  .app-modals {

    .payment-modal { 

      .hide {
        position: absolute;
        left: -9999px;
      }

      // init
      .pay {
        .button {
          @include std-btn;
          height: 2.4em;
        }
        position: absolute;
        left: -9999px;
        &.show {
          left: auto;
          .button,
          button {
            right: 0;
            left: auto;
            position: absolute;
          }
        }
      }

      .button.back {
        @include sec-btn;
      }

      border: 3px #53B16B solid;
      @include border-radius(.3rem);

      label { 
        font-family: 'DIN', 'Mic New Rd', sans-serif;
      }

      .page-title { 
        width: 915px;
        margin: 0 auto;
        h1 {
          text-indent: -9999px;
          width: 160px;
          margin: 0 auto;
          background: url('/static/img/ui/sprite-fixtures.png') 0 -60px no-repeat;
        }
      }

      .page-nav { 
        nav {
          padding: 30px;
          background: url('/static/img/ui/sprite-fixtures.png') 0px -112px no-repeat; 
          width: 915px;
          margin: 0 auto;
          max-width: 100%;
          ul {

            margin: 1rem auto 3rem;
            width: 915px;
            max-width: 100%;

            background: #DDE9F1;
            height: 15px;
            position: relative;
            @include box-shadow(0 1px 1px #94B5CD inset);

            li.slice {

              @include inline-block;

              &.visible {

                &.profile {
                  &:after {
                    width: 23%;
                    height: 15px;
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 6.3%;
                    z-index: 1;
                    content: " ";
                    background: #408F54;
                    @include box-shadow(-2px 3px .1rem #337744 inset);
                  }
                }

                &.billing {
                  &:before {
                    width: 19%;
                    height: 15px;
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 27.8%;
                    z-index: 1;
                    content: " ";
                    background: #408F54;
                    @include box-shadow(-2px 3px .1rem #337744 inset);
                  }
                  &:after {
                    width: 18%;
                    height: 15px;
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 53.4%;
                    z-index: 1;
                    content: " ";
                    background: #408F54;
                    @include box-shadow(-2px 3px .1rem #337744 inset);
                  }
                }


                &.shipping {
                  &:before {
                    width: 29.5%;
                    height: 15px;
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 64.5%;
                    z-index: 1;
                    content: " ";
                    background: #408F54;
                    @include box-shadow(-2px 3px .1rem #337744 inset);
                  }
                }
              }

              &.profile {
                .pos,.label {
                  margin-left: -5px;
                }
              }

              &.billing {
                .pos,.label {
                  left: 50%;
                  margin-left: -30px;
                }
              }
              &.shipping {
                .pos,.label {
                  left: 100%;
                  margin-left: -55px;
                }
              }

              &.billing .pos:after,
              &.shipping .pos:after{
                background: #DDE9F1;
                content: " ";
                display: block;
                height: 14px;
                position: absolute;
                top: 25px;
                z-index: 30;
                width: 10px;
              }

              &.billing.visible .pos:after,
              &.shipping.visible .pos:after {
                left: 1px;
                width: 11px;
                top: 24px;
                height: 15px;
                background: #408F54;
              }

              .pos { 
                height: 60px;
                width: 60px;
                display: block;
                position: absolute;
                margin-top: -37px;
                background: #DDE9F1;
                font-size: 2.5rem;
                color: #5FA5CD;
                text-align: center;
                font-family: 'DIN', 'Mic New Rd', sans-serif;
                @include box-shadow(2px 1px .1rem #94B5CD inset);
                @include border-radius(60px);
              }

              &.visible {
                span.pos {
                  background: #408F54;
                  color: #fff;
                  @include box-shadow(2px 1px .1rem #337744 inset);
                }
                span.label {
                  color: #408F54;
                }
              }
              .label { 
                font-family: 'DIN', 'Mic New Rd', sans-serif;
                display: block;
                margin-top: 30px;
                position: absolute;
                text-align: center;
                width: 60px;
                text-transform: uppercase;
              }
            }
          }
        }
      }

      .note {
        @include border-radius(15rem);
        height: 250px;
        width: 250px;
        background: #BCF4DA;
        color: #7CC9A5;
        float: right;
        position: absolute;
        font-size: 1.2rem;
        font-weight: 600;
        left: 50%;
        margin-left: 150px;
        top: 250px;
        text-align: center;
        line-height: 1.2;
        .inner {
          padding: 90px 2.5rem;
          position: relative;
        }
      }

      .page-body { 

        li.next {
          text-align: right;
        }

        .profile, .billing, .shipping {
          position: absolute;
          right: 9999px;
          &.visible {
            position: relative;
            right: 0;
            span.pos {
              background: #408F54;
            }
          }
        }

        .profile {

        }

        .billing {

        }

        .shipping {

        }
      }

      select { 
        width: 50%;
      }

      .slices {
        margin: 2rem 0 1rem;
        margin: 0 auto;
        width: 915px;
      }

      .form-intro,
      .form-row {
        padding: .5rem 0;
        margin: 0 auto;
        width: 600px;
        text-align: right;
        position: relative;
        overflow: hidden;
        right: 200px;
        label { 
          @include inline-block;
          width: 49.5%;
          padding-right: 1rem;
          padding-top: .65rem;
          float: left;
        }
        input {
          width: 49.5%;
          float: right;
          padding: 10px;
          &[type="checkbox"] {
            width: auto;
            position: absolute;
            left: 50%;
            top: 20px;
          }
        }
        select {
          margin-top: .35rem;
        }
        input, select { 
          @include inline-block;
          font-size: 1.5rem;
        }
        &.inline {
          ul {
            li {
              @include inline-block;
            }
          }
        }
      }

      .button {
        @include std-btn;
        &.hidden {
          position: absolute;
          left: -9999px;
        }
        &.visible {
          position: relative;
          left: 0;
        }
      }

    } // .payment-modal

  }


  // == Module Add Brand == //

  .m.m--brand-info {

    position: relative;

    padding: 0 5px;

    .m-title { 

      position: relative;
      z-index: 60;

      a.add-brand {

        border: 3px solid #9FC9E7;
        display: block;
        @include border-radius(10rem);
        box-shadow: 0 0 1.3rem #b5d2e7;
        height: 18rem;
        height: 18rem;
        padding: 2rem;
        margin-bottom: 3rem;
        vertical-align: bottom;
        position: relative;

        &:hover {
          @include transition-property(border);
          @include transition-duration(0.3s);
          @include transition-timing-function(linear);
          border: 3px solid #21AC62;
        }

        span.button {
          @include std-btn;

          // overrides for add-brand button
          top: 210px;
          left: 95px;
          position: absolute !important;
        }

        img.logo-image {
          max-height: 50px;
          display: block;
          margin: 0 auto;
        }

        img.canonical-image {
          max-width: 120px;
        }
      }
    }

    .m.m--triangle {

      width: 100px;
      height: 100px;
      position: relative;
      overflow: hidden;
      left: 50%;
      margin-left: -50px;
      top: 1px;
      margin-top: -100px;
      z-index: 50;

      &:after {
        content: "";
        position: absolute;
        width: 50px;
        height: 50px;
        background: #F7F9FB;
        top: 90px;
        left: 25px;
        @include rotate(45deg); /* Prefixes... */
        @include box-shadow(0 0 1.3rem #b5d2e7);
        @include border-radius(.2rem);
      }

      &:hover, 
      &:hover:after {
      }

    }

    .m-body {

      color: #636363;

      font-family: 'DIN', 'Mic New Rd', sans-serif;

      padding: 1rem; 
      margin: 0 10px;
      //border: 1px #b5ddf9 solid; 
      box-shadow: 0 0 1rem #b5d2e7; 
      @include border-radius(.5rem);

      .heading, .content {
        @include inline-block;
        padding-top: .5rem;
        font-size: 1.5rem;
        float: left;
        width: 49%;
        height: 2rem;
      }

      .heading {
        text-transform: uppercase;
        text-align: left;
        font-size: .9rem;
        padding-left: 1rem;
      }

      .content {
        text-align: center;
        ul {
          @extend .inline-list;
          @include inline-block;
          margin: 0; 
          li {
            margin-left: 2px;
            @include inline-block;
          }
        }
      }

      .m-value .content ul {
        li {
          background: url('/static/img/ui/sprite-fixtures.png') 0 0 repeat-x;
          background-position: -25px -344px;
          &.point {
            background-position: 0 -344px;
          }
        }
      }

      .m-health .content ul {
        li {
          background: url('/static/img/ui/sprite-fixtures.png') 0 0 repeat-x;
          background-position: -25px -380px;
          &.point {
            background-position: 0 -380px;
          }
        }
      }

      .m-strength .content ul {
        li {
          background: url('/static/img/ui/sprite-fixtures.png') 0 0 repeat-x;
          background-position: -25px -416px;
          &.point {
            background-position: 0 -416px;
          }
        }
      }

      .m-value .content,
      .m-health .content,
      .m-strength .content {
        color: #ccc;
        line-height: 1; 
        text-shadow: 0 0 .2rem #ccc;
        font-weight: 600;

        li {
          width: 20px;
          height: 33px;
          text-indent: -9999px;
          position: relative;
          top: -.5rem;
        }
      }

      .m-origin {
        text-transform: uppercase;
        color: #031b2d;
        font-style: italic;
        font-size: .7rem;
        font-weight: 600;
        margin: 1rem 0 0;
        p {
          margin: 0;
        }
      }

      .m-info {
        background-image: linear-gradient(bottom, #FAFCFD 17%, #E5EEF5 59%);
        background-image: -moz-linear-gradient(center bottom, #FAFCFD 17%, #E5EEF5 59%);
        background-image: -ms-linear-gradient(bottom, #FAFCFD 17%, #E5EEF5 59%);
        background-image: -o-linear-gradient(bottom, #FAFCFD 17%, #E5EEF5 59%);
        background-image: -webkit-linear-gradient(bottom, #FAFCFD 17%, #E5EEF5 59%);
        background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.17, #FAFCFD), color-stop(0.59, #E5EEF5));
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        margin-left: -1rem;
        padding: .5rem 0;
        position: relative;
        top: 1rem;
        width: 274px;
      }

    }
  }

  // == Module Pantry == //

  .m.m--pantry {

    .m-title {
      text-align: center;
      padding-bottom: 10px;
      h1 {
        @include page-title();
        width: 915px;
        margin: 15px auto 0;
      }
    }

    .m-nav {

      position: absolute;
      right: 0;
      top: 0;
      margin: 25px 10px 0 0;

      .settings {
        background-color: #F7F9FB;
        color: #222;
        border: none;
        background-image: url("/static/img/ui/sprite-fixtures.png");
        background-repeat: no-repeat;
        background-position: -52px -571px;
        padding-left: 32px;
        font-weight: 400;
      }

      .add-products {
        //background-image: url("/static/img/ui/sprite-fixtures.png") !important;
        //background-position: 140px -568px !important;
        //padding-right: 42px !important;
        @include std-btn;
      }

      nav {
        ul {
          li {
            @include inline-block;
            a {
              display: block;
              padding: .5rem 1rem;
            }
          }
        }
      }

    }

    .m-body {

    }
  }


  // == Module Pantry Panel == //

  div.m.m--pantry-panel {

    font-family: 'DIN', 'Mic New Rd', sans-serif;

    position: fixed;
    z-index: 9001;

    left: 0;
    //@include translateY(-133px);
    bottom: -133px;
    
    background: #00614F;

    @include transition-property(transform);
    @include transition-duration(1s);
    @include transition-timing-function(ease-in-out);

    height: 140px;
    width: 100%;
    overflow: hidden;

    .m-pay {
      position: absolute;
      z-index: 100;
      left: 50%;
      margin-left: -63px;
      padding: 40px 0 0 0;
      a.reveal-checkout {
        @include std-btn;
      }
    }

    .m-label { 

      background: #00AB6B;

      text-align: center;
      position: relative;
      width: 100%;
      min-width: 100%;
      height: 7px;
      min-height: 7px;

      a.reveal-months {
        text-transform: uppercase;
        font-size: .8rem;
        line-height: 0;
        display: block;
        padding: 16px 30px 10px;
        color: #fff;
        background: #00AB6B;
        position: absolute;
        left: 50%;
        width: 200px;
        margin-left: -100px;
        z-index: 1;
        @include border-radius(.3rem);
        &:before,
        &:after {
          position: absolute;
          content: "▾";
        }
        &:before {
          left: 15px;
        }
        &:after {
          right: 15px;
        }
      }

    } // .m-label

    .m-savings { 

      width: 530px; 
      position: absolute;
      right: 0;
      top: -7px;

      div.canopy { 

        float: left;
        width: 200px;
        position: relative;
        top: 7px;
        margin: 1rem 0 0 0;
        z-index: -1;

        ul { 
          @include inline-block;
          li.week { 
            @include inline-block;
            dl {
              @include inline-block;
              position: relative;
              left: 75px;
              margin-top: 20px;
              dt { 
                float: left;
                width: 30px;
                height: 30px;
                text-indent: -9999px;
                background: url('/static/img/ui/sprite-fixtures.png') -105px -540px repeat-x;
                margin: 0 .5rem 0 0;
              }
              dd { 
                float: left;
                width: 95px;
                line-height: 1;
                color: #fff;
                span { 
                } // may come in handy
                .v { 
                  font-size: 1.75rem;
                }
                .l { 
                  opacity: .75;
                  width: 4rem;
                  font-size: .8rem;
                  text-transform: lowercase;
                  font-variant: small-caps;
                }
              }
            }
          }
        }

      } // .canopy

      dl.log {

        @include transition-property(background-color);
        @include transition-duration(1s);
        @include transition-timing-function(ease-in);
        @include border-bottom-left-radius(1rem);

        padding: 1.5rem 1rem 1rem 1.5rem;
        background: #00AB6B; 

        float: right;
        width: 330px;
        position: relative;
        text-transform: uppercase;
        font-size: 1.15rem;

        &:before {
          content: "";
          height: 100px;
          left: 0;
          position: absolute;
          top: -10px;
          width: 100px;
          z-index: -1;
          @include rotate(-3deg);
          @include box-shadow(0 0 1.5rem rgba(0,0,0,.5));
        }

        dt,dd { 
          margin: 0;
          font-weight: 400;
        }

        dt {
          clear: right;
          float: left;
          letter-spacing: 1px;
        }

        dd {
          font-weight: 600;
          float: right;
          color: #222;
        }

        dt.cost { }
        dd.cost { }
        dt.save { }
        dd.save { }
        dt.week { }
        dd.week { 
          color: #31AD61;
        }

      } // .log

    } // .m-savings

    .m-footprint { 

      dl.define-footprint {
        margin: 30px 0 0 0;
        color: #fff;
        sub { 
          font-size: .65rem;
        }
        .v { 
          text-transform: uppercase;
          font-size: 1.25rem;
        }
        .l { 
          text-transform: lowercase;
          font-variant: small-caps;
          opacity: .75;
        }
        dt, dd { 
          @include inline-block;
        }
        dd { 
          vertical-align: bottom;
          line-height: .75;
          margin: 0 1rem 0 0;
          padding: 1.1rem;
        }
        dt {
          background: url("/static/img/ui/sprite-fixtures.png") no-repeat 20px -545px;
          text-indent: -9999px;
          width: 40px;
          height: 50px;
        }
        dt.petrol { 
          background-position: 15px -525px;
        }
        dd.petrol { }
        dt.paper { 
          background-position: -25px -525px;
        }
        dd.paper { }
        dt.water { 
          background-position: -60px -525px;
        }
        dd.water { }
      }
    } // .m-footprint

    .m-stash {
      position: absolute;
      right: 460px;
      top: 0;
      margin: 20px 0 0 0;
      a.bin {
        background: url("/static/img/ui/sprite-fixtures.png") no-repeat -165px -530px transparent;
        width: 75px;
        height: 75px;
        display: block;
        &.bin:hover { 
          & {
            @extend .wiggle;
          }
        }
        &.bin:focus + .history { }
      } // .bin

      // @consider http://dabblet.com/gist/3979221/cb69c5e8ccf0745fff2c94b47b27b108931f1a15
      // so basically an OS X style menu flyout as a representation of the list of past actions (drags)

      ul.history { 
        position: absolute;
        left: -9999px;
        li.m--shipment-item {
        }
      } // .history
    }
  }


  // == Module Pantry Calendar == //

  div.m.m--pantry-calendar {

    @include loader-bubbler;

    table.m-calendar {

      width: 100%;
      border-collapse: inherit;

      border: none;
      margin-bottom: 135px;

      thead {
        display: none;
      }

      .assignment-panel { 

        &:nth-of-type(1n) {
          background: #E5EEF2; 
          td { 
            background: #E5EEF2; 
          }
        }

        &:nth-of-type(2n) {
          background: #fbfcfd; 

          td {
            background: #fbfcfd; 
          }
        }

        &:hover {

          background: #EAF7EA;

          td {
            background: #EAF7EA;
          }
        }

        &.over {

          background: #F7F6E3;
          opacity: .8;

          @include transition-property(background-color);
          @include transition-duration(0.5s);
          @include transition-timing-function(linear);

          td {
            background: none;
            opacity: .8;
          }
        }

        & .drag {
          cursor: -webkit-grabbing; 
          cursor: -moz-grabbing;
        }

        &:last-child {
          tr {
            td.month-label {
              @include border-radius(.5rem);
            }
          }
        }

        .month-label { 
          width: 10%;
          background: #2C84C3;
          text-transform: uppercase;
          color: #31AD61;
          font-size: 2rem;
          text-align: right;
          padding: 0 1rem 0 0;
          height: 100px;
          div.day {
            font-size: .8rem;
            font-variant: small-caps;
            text-align: center;
            display: block;
            cursor: help;
          }
          div.month { 
            text-align: center;
          }
          div.year {
            text-align: center;
          }
        }   

        .products-list {
          width: 75%;
        }

        .price-comparison {
          width: 15%;
          text-align: right;
          letter-spacing: 2;
          dl {
            margin: 0 .5rem 0 1rem;
            overflow: hidden;
            line-height: 1;
            text-transform: uppercase;
            dd { 
              margin-bottom: 0;
            }
            dd, dt { 
              float: right; 
            }
            dt { 
              clear: right;
              margin-left: .5rem;
              font-weight: 400;
              &:before {
                content: "$";
              }
            }
          }
          dl {
            dd:nth-child(4),
            dt:nth-child(3) {
              color: #2FAE63;
              font-size: 1.2rem;
            }
          }
        }
      }
    }

    div.m.m--products {

      ul.m-body {
        min-height: 75px;
        margin: 0;
      }

      li.m--shipment-item {

        &.hide {
          display: none;
        }

        background: #fff;
        box-shadow: 0 0 .175rem #BAD9E0;
        @include border-radius(.5rem);
        @include inline-block;
        padding: 12px 0 16px;
        width: 220px;
        height: 65px;
        position: relative;
        margin: 0 .5rem .5rem 0;
        font-family: 'DIN', 'Mic New Rd', sans-serif;

        //cursor: url(https://mail.google.com/mail/images/2/openhand.cur), default !important;
        cursor: grab;
        cursor: -webkit-grab; 
        cursor: -moz-grab;

        &:active {
          cursor: grabbing;
          cursor: -webkit-grabbing;
          cursor: -moz-grabbing;
          .m-image {
            //@extend .wiggle;
          }
        }

        &.drag,
        &.drag:hover {
          //cursor: url(https://mail.google.com/mail/images/2/closedhand.cur), default !important;
          cursor: grabbing;
          cursor: -webkit-grabbing;
          cursor: -moz-grabbing;
        }

        // == Module Product Control == //

        // @note refactor
        .m-control {
          margin: 0;
          position: absolute;
          right: 40px;
          top: 15px;

          .m-title { 
          }

          .quantity-add,
          .quantity-remove {
            opacity: 0;

            @include transition-property(opacity);
            @include transition-duration(0.3s);
            @include transition-timing-function(ease-out);

          }

          .m--control { }
        }

        .m--control {

          position: relative;
          text-align: center;
          font-size: .8rem;
          top: -3px;

          .button {
            border: none;
            background: none;
            padding: 0;
            color: #333;
            &:active,
            &:focus {
              border: none;
              box-shadow: none;
            }
          }

          .m-body {
            position: absolute;
          }

          .m-title {
            font-family: 'DIN', 'Mic New Rd', sans-serif;
            position: absolute;
            top: .25rem;
            left: 1rem;
            margin-left: -.8rem;
            z-index: 10;
            color: #2FAE63;
          }

          .quantity {
            position: absolute;
            top: .85rem;
            height: 2rem;
            width: 30px;
            border: none;
            box-shadow: none;
            text-align: center;
            background: none;
            color: #2FAE63;
            cursor: help;
            z-index: 20;
          }

          .quantity-add {
            position: absolute;
            top: 0;
            height: 1rem;
            width: 30px;
            &:before {
              @include rotate(180deg); /* Prefixes... */
              border-top: 4px solid #FFFFFF;
              color: #FFFFFF;
              content: "▾";
              display: block;
              font-size: 14px;
              line-height: 0.5;
              position: relative;
              top: -3px;
              z-index: 20;
            }
            &:after {
              content: " ";
              display: block;
              height: 15px;
              width: 30px;
              position: relative;
              top: -18px;
              @include border-radius(90px 90px 0 0);
              background: #00AB6B;
            }
          }

          .quantity-remove {
            position: absolute;
            top: 2.2rem;
            height: 1rem;
            width: 30px;
            &:before {
              border-top: 4px solid #FFFFFF;
              color: #FFFFFF;
              content: "▾";
              display: block;
              font-size: 14px;
              line-height: 0.5;
              padding-top: 2px;
              position: relative;
              top: -1px;
              z-index: 20;
            }
            &:after {
              content: " ";
              display: block;
              height: 15px;
              width: 30px;
              position: relative;
              top: -14px;
              @include border-radius(0 0 90px 90px);
              background: #00AB6B;
            }
          }
        }

        &.drag {
          @include transition-duration(0.05s);
          @include transition-timing-function(ease-out);
          box-shadow: 0 0 .2rem #21ac62;
          .m-image {
            //@extend .wiggle;
          }
        }

        .m-name {
          text-transform: uppercase;
          max-height: 50px;
          overflow: hidden;
          line-height: 1.1;
          float: left;
          margin: 5px 0 0 0;
          width: 120px;
          opacity: .7;
          color: #222;

          @include transition-property(opacity);
          @include transition-duration(0.3s);
          @include transition-timing-function(ease-out);

        }

        &:hover {
          .m-name {
            opacity: 1;
          }
          .quantity-add,
          .quantity-remove {
            opacity: 1;
          }
        }

        .m-image {
          margin: 0 5px;
          position: relative;
          top: -3px;
          float: left;
          img { 
            max-width: 50px;
            max-height: 50px;
          }
        }
      }
    }
  }

  // == Module Pagination == //

  div.m--pagination {

    @extend .columns !optional;
    @extend .small-6 !optional;
    @extend .small-centered !optional;

    clear: left;

    .m-body {
      padding-top: 1rem;
    }

    ul {
      @extend .pagination !optional;
      text-align: center;
      .arrow {
        display: none;
      }
      li.current {
        a {
          background: #0E8E4A;
        }
      }
      li {
        @include inline-block;
        float: none;
        a {
          background: #9cbbcc;
          border: none;
          @include border-radius(20rem);
          color: #fff;
          font-size: 1rem;
          line-height: .7rem;
          text-indent: -9999px;
          width: 0;
        }
      }
    }
  }

  // == Module Social Bar == //

  div.m--social {

    @extend .columns;
    @extend .small-2;

    &.pending {
      right: 0;
    }

    right: 120px;
    top: 30px;
    position: absolute !important;
    font-size: 1.2rem;
    text-align: center;
    .m-body {
      ul {
        li {
          @include inline-block;
          .icon-twitter,.icon-facebook,.icon-linkedin,.icon-google-plus {
            width: 25px; 
            height: 25px; 
            float: left; 
            background: url('/static/img/ui/sprite-fixtures.png') 0 -305px repeat-x;
          }
          .icon-twitter {
            background-position: -35px -305px;
          }

          .icon-facebook {
            background-position: -72px -305px;
          }

          .icon-linkedin {
            background-position: 3px -305px;
          }
          
          .icon-google-plus {
            background-position: -111px -305px;
          }
        }
      }
    }
  }

  // == Module Progress == //

  div.m--progress {

    display: none;

    top: 1rem;
    left: 50%; 
    margin-left: -150px; 
    width: 300px;
    color: #fff;
    position: absolute !important; 

    span.percentage {
      font-family: 'DIN', 'Mic New Rd', sans-serif;
      position: absolute;
      right: -40px;
      top: 15px;
    }

    div.m-note {
      color: #A1BFCC; 
      top: 15px; 
      font-size: x-small; 
      position: relative;
      text-align: center;
      margin: 10px 5px 5px 5px
    }

    div.m-body {
      position: relative;
      background: #fff;
      @include border-radius(.3rem);
      height: 12px;
      top: 1rem;
    }

    div.progress-bar {

      height: auto;
      padding: 0;

      font: {
        weight: bold;
      }

      background: #0e8e4a;
      width: auto;
      margin-bottom: 0;
      @include border-radius(.3rem);
      @include border-bottom-right-radius(0);
      @include border-top-right-radius(0);
      @include inline-block;
      vertical-align: top;
      height: 12px;

      ul {
        padding: 0; 
        margin: 0;
        height: 10px;
      }

      .init {
        width: 60px;
      }

      li {
        @include inline-block;
        text-indent: -9999px;
        width: 10px;

        &[class*="brand"] {
          width: 20px;
        }

        &[class*="essential"],
        &[class*="specialty"] {
          width: 15px;
        }
      }

    }
  }

  div.m--footer-dashboard {

    display: none;

    .m-title {

    }

    .m-body {

    }

  }

  #create-pantry,
  #customized-schedule {
    .wizard--page-title {
      text-align: center;
    }
  }

  .prep-brand {
    .stage {
      padding: 75px 50px 50px;
      margin: 0 auto;
    }

    .wizard--page-footer {
      .secondary {
        @include sec-btn;
      }
    }

    .wizard--page-title {
      margin-top: 10%;
    }
  }

  #create-pantry {
    .stage {
      padding: 75px 50px 50px;
    }

    .wizard--page-body {
      text-align: center;
    }
  }

  #faq {
    border: 3px #53B16B solid;
    @include border-radius(.3rem);

    .stage {
      
    }
  }

  #pick-products {
    .stage {
      padding: 100px 50px 50px;
      margin: 0 auto;
    }

    .wizard--page-body {
      text-align: center;
    }

    .wizard--page-title {
      margin-top: 10%;
    }
  }

  #nice-work {
    .stage {
      padding: 75px 50px 50px;
    }
    .wizard--page-title {
      text-align: center;
    }
    .wizard--page-body {
      text-align: center;
    }
  }

  #product-removal {
    .stage {
      padding: 115px 50px 50px;
    }
    .wizard--page-body {
      text-align: center;
    }
    .wizard--page-title {
      margin-top: 15%;
    }
  }

}

