@import "compass/reset";
@import "compass/css3/font-face";
@import "compass/css3/border-radius";
@import "compass/css3/transition";
@import "compass/css3/inline-block";
@import "compass/utilities/general/clearfix";
@import "compass/typography/text/replacement";
@import "compass/css3/box-shadow";
@import "foundation/components/global";
@import "foundation/components/buttons";

@-moz-keyframes bubbling {
  0% { width: 38px; height: 38px; background-color:#E1E1E1; -moz-transform: translateY(0); }
  100% { width: 90px; height: 90px; background-color:#21AC62; -moz-transform: translateY(-79px); }
}

@-webkit-keyframes bubbling {
  0% { width: 38px; height: 38px; background-color:#E1E1E1; -webkit-transform: translateY(0); }
  100% { width: 90px; height: 90px; background-color:#21AC62; -webkit-transform: translateY(-79px); }
}

@-ms-keyframes bubbling {
  0% { width: 38px; height: 38px; background-color:#E1E1E1; -ms-transform: translateY(0); }
  100% { width: 90px; height: 90px; background-color:#21AC62; -ms-transform: translateY(-79px); }
}

@-o-keyframes bubbling {
  0% { width: 38px; height: 38px; background-color:#E1E1E1; -o-transform: translateY(0); }
  100% { width: 90px; height: 90px; background-color:#21AC62; -o-transform: translateY(-79px); }
}

@keyframes bubbling {
  0% { width: 38px; height: 38px; background-color:#E1E1E1; transform: translateY(0); }
  100% { width: 90px; height: 90px; background-color:#21AC62; transform: translateY(-79px); }
}

@mixin loader_bubbler() {

  .loader {

    margin: 0 auto;
    width: 301px;
    position: relative;
    margin-top: 75px;

    & .bubbling {
      text-align: center;
      width:301px;
      height:128px;
    }

    & .bubbling span {
      display: inline-block;
      vertical-align: middle;
      width: 38px;
      height: 38px;
      margin: 94px auto;
      background: #E1E1E1;
      @include border-radius(100px);
      -moz-animation: bubbling 0.9s infinite alternate;
      -webkit-animation: bubbling 0.9s infinite alternate;
      -ms-animation: bubbling 0.9s infinite alternate;
      -o-animation: bubbling 0.9s infinite alternate;
      animation: bubbling 0.9s infinite alternate;
    }

    & .bubbling .b_1 {
      -moz-animation-delay: 0s;
      -webkit-animation-delay: 0s;
      -ms-animation-delay: 0s;
      -o-animation-delay: 0s;
      animation-delay: 0s;
    }

    & .bubbling .b_2 {
      -moz-animation-delay: 0.27s;
      -webkit-animation-delay: 0.27s;
      -ms-animation-delay: 0.27s;
      -o-animation-delay: 0.27s;
      animation-delay: 0.27s;
    }

    & .bubbling .b_3 {
      -moz-animation-delay: 0.54s;
      -webkit-animation-delay: 0.54s;
      -ms-animation-delay: 0.54s;
      -o-animation-delay: 0.54s;
      animation-delay: 0.54s;
    }

  }

}

@mixin diagnostic() {
  outline: 1px solid gold;
}

@mixin branded_input() {
  input[type="radio"],
  input[type="checkbox"] {
    position: absolute;
    clip: rect(0px 0px 0px 0px);
  }
}

@mixin page-title() {
  background: url('/static/img/ui/sprite-fixtures.png') 0 -165px no-repeat;
  margin: 30px 0 10px;
  padding: 0 0 30px 0;
  text-align: center;

  h1 {
    margin: 0;
  }
}

@mixin gradient_text($start_color, $end_color, $start_point: left top, $end_point: left bottom) {
  color: mix($start_color, $end_color);
  background: -webkit-gradient(linear, $start_point, $end_point, from($start_color), to($end_color));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@mixin sec-btn() {
  &,&:hover {

    background-image: -webkit-gradient(linear, left top, left bottom, from(#EAEAEA), to(#C1C1C1));
    background-image: -webkit-linear-gradient(top, #EAEAEA, #C1C1C1);
    background-image: -moz-linear-gradient(top, #EAEAEA, #C1C1C1);
    background-image: -ms-linear-gradient(top, #EAEAEA, #C1C1C1);
    background-image: -o-linear-gradient(top, #EAEAEA, #C1C1C1);
    background-image: linear-gradient(to bottom, #EAEAEA, #C1C1C1);
    filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#EAEAEA, endColorstr=#C1C1C1);

    color: #fff;
    border: 1px #ccc solid;

  }
}

@mixin std-btn() {
  & {
    @include button;
    @include border-radius(.5em);
    font-family: 'DIN', 'Mic New Rd', sans-serif;
    border: 1px solid #25729a;
    text-transform: uppercase;
    padding: 10px 25px;
    text-shadow: -1px -1px 0 rgba(0,0,0,0.75);
    text-align: center;
    background-color: #3093c7;
    color: #fff;
    font-weight: 400;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#5eb6f5), to(#2e87c6));
    background-image: -webkit-linear-gradient(top, #5eb6f5, #2e87c6);
    background-image: -moz-linear-gradient(top, #5eb6f5, #2e87c6);
    background-image: -ms-linear-gradient(top, #5eb6f5, #2e87c6);
    background-image: -o-linear-gradient(top, #5eb6f5, #2e87c6);
    background-image: linear-gradient(to bottom, #5eb6f5, #2e87c6);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#2e87c6, endColorstr=#5eb6f5);
  }

  &:hover{
    background-image: -webkit-gradient(linear, left top, left bottom, from(#2e87c6), top(#14659f));
    background-image: -webkit-linear-gradient(top, #2e87c6, #14659f);
    background-image: -moz-linear-gradient(top, #2e87c6, #14659f);
    background-image: -ms-linear-gradient(top, #2e87c6, #14659f);
    background-image: -o-linear-gradient(top, #2e87c6, #14659f);
    background-image: linear-gradient(to bottom, #2e87c6, #14659f);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#14659f, endColorstr=#2e87c6);
  }
}

@mixin btn-back() {
  & {
    border: 1px #666 solid;
    background-image:linear-gradient(-90deg, rgb(238, 238, 238), rgb(204, 204, 204));
    background-image:-webkit-gradient(linear, 50% 0%, 50% 100%, from(rgb(238, 238, 238)), to(rgb(204, 204, 204)));
    background-image:-moz-linear-gradient(-90deg, rgb(238, 238, 238), rgb(204, 204, 204));

    &:hover {
      border: 1px #666 solid;
      background-image:linear-gradient(-90deg, rgb(238, 238, 238), rgb(204, 204, 204));
      background-image:-webkit-gradient(linear, 50% 0%, 50% 100%, from(rgb(238, 238, 238)), to(rgb(204, 204, 204)));
      background-image:-moz-linear-gradient(-90deg, rgb(238, 238, 238), rgb(204, 204, 204));     
    }
  }
}

@mixin btn-remove() {
  & {
    padding: 10px !important;
  }
}

@mixin wiggle() {

  @-webkit-keyframes wiggle {
    0% {    -webkit-transform:rotate(4deg);   }
    50% {   -webkit-transform:rotate(-4deg);  }
    100% {  -webkit-transform:rotate(4deg);   }
  }
   
  @-moz-keyframes wiggle {
    0% {    -moz-transform:rotate(4deg);  }
    50% {   -moz-transform:rotate(-4deg); }
    100% {  -moz-transform:rotate(4deg);  }
  }

  @-ms-keyframes wiggle {
    0% {    -moz-transform:rotate(4deg);  }
    50% {   -moz-transform:rotate(-4deg); }
    100% {  -moz-transform:rotate(4deg);  }
  }

  @-o-keyframes wiggle {
    0% {    -moz-transform:rotate(4deg);  }
    50% {   -moz-transform:rotate(-4deg); }
    100% {  -moz-transform:rotate(4deg);  }
  }

   
  @keyframes wiggle {
    0% {    transform:rotate(4deg);   }
    50% {   transform:rotate(-4deg);  }
    100% {  transform:rotate(4deg);   }
  }

  .wiggle {
    -webkit-animation: wiggle 0.5s infinite;
    -moz-animation: wiggle 0.5s infinite;
    -ms-animation: wiggle 0.5s infinite;
    -o-animation: wiggle 0.5s infinite;
    animation: wiggle 0.5s infinite;
  }

}
