// "e" is short for enhancement.

div.e--rounded-modal {

  background: transparent;

  &.error-modal {
    div.stage {
      width: 300px;
      height: 300px;
      margin: 0 auto;
      text-align: center;
      .notification--page-body {
        margin-top: 2.5rem;
      }
    }
  }

  .button {
    @include std-btn;
  }

  // for now, the nice-work modal
  &.medium,
  &.small {
    .stage {
      background: #fff;
      border-radius: 200px; 
      width: 400px;
      height: 400px;
      border: 3px #2d86c5 solid;
      color: #515151;
      padding: 50px;

      h1 { 
        font-size: 1.2rem;
        margin-bottom: 0;
      }

      h2 { 
        font-size: 1rem;
        margin-bottom: 1rem;
      }

      li {
        margin-bottom: .5rem;
      }
    }
  }
}

.e--full-viewport {
  height: 100%;
  top: 0 !important;
  position: fixed !important;
  border: none !important;
  border-top: none !important;
  box-shadow: none !important;
  border-radius: none !important;
  background: none !important;

  .stage {
    position: relative;
  }

  &[id*="scents"] {

    .wizard--page-body {
      ul {
        width: 100% !important;
        li {
          @extend .columns;
          @extend .small-2;
          margin-bottom: 1rem;

          img {
            max-width: 75px !important;
          }

          a {
            height: 10rem !important;
            width: 10rem !important;
          }
        }
      }
    }

  }

}//End .full-viewport
