@import "mixins";
@import "compass/css3/transform";

.add-email {
  width: 100%;
  padding: .7rem .5rem;
  font-size: 2rem;
  text-align: center;
  margin: 1rem 0;
  margin: 0 0 1rem;
  box-shadow: 0 0 .3rem #ccc;
  //@include border-radius(.7em);
  border: 1px #eee solid;
  @include box-shadow(0 0 .5rem #eee inset);
}

.selected {
  @extend .success !optional;
}

.button.back {
  @extend .secondary !optional;
}

.unavailable {
  background: #e9e9e9;
  padding: .5rem; 
  border: 1px #bbb solid;
  @include border-radius(.3rem);
  @include box-shadow(0 0 .5rem #ccc);
}

// All Modals
// @note Should this be an include?

.stage {

  padding: 2rem;

  .note {
    text-align: center;
    padding: 15px 0 0 0;
  }

  .note.error {
    color: #c30 !important;
  }

  .wizard--step {
    @include clearfix;
    position: relative;
    top: -1rem;
    .step { 
      cursor: help;
      float: left; 
      display: inline-block;
      @include border-radius(10rem);
      height: 4.5rem;
      width: 4.5rem;
      line-height: .5rem;
      margin-top: 1rem;
      padding: 1.35rem 1rem;
      color: #999;
      position: absolute; 
      top: -60px; 
      left: -90px;
      color: #fff;
      background-color: #21ac62;
      text-align: center;
      .label {
        display: block;
        margin: 0 0 1rem 0;
        text-transform: uppercase;
      }
      .cmpnnt {
        font-size: 1.5rem;
        font-weight: 600;
        display: block;
      }
      &:hover {
        @include transition-property(transform);
        @include transition-duration(0.1s);
        @include transition-timing-function(ease-in);
        @include translateY(-3px);
      }
    }

    .count {
      float: right;
      display: inline-block; 
      padding: .5rem; 
      margin: 2rem 2rem 0 0; 
      line-height: 0; 
      color: #d1d1d1;
    }
  }
  
  .wizard--page-title {
    text-align: center;
  }

  .wizard--page-body {
  }

  .wizard--page-footer {
    padding: 0 2rem;
    text-align: center; 

    .close-reveal-modal {
      top: 15px; 
      right: 2rem;
    }

    .button.back {
      @include btn-back();
    }
  }
}


// All Pages
.page {
  .page-title {
    @include page-title();
  }
}


// Payment Page

.app--page.payment {
  .page {
    .page-title {
      width: 915px;
      margin: 15px auto 0;
    }
  }
}


// Pantry Sign-Up

#pantry-sign-up {
  .button {
    @include std-btn;
  }
  text-align: center;
  .stage {
    padding: 75px 40px 40px 40px;
  }
  .note {
    color: #d1d1d1;
    margin: 0 0 1rem;
    span {
      position: relative;
    }
    span::before { 
      content: "(";
      position: absolute;
      left: -.5rem
    }
    span::after { 
      content: ")";
      position: absolute;
      right: -.5rem;
    }
  }
}

// Sign-Up Wizard "Phase"

div.wizard-question {

  @include box-shadow(0 0 .5rem rgba(#74b4e1, .25));
  margin: 8rem 15%;
  position: relative;
  top: 2rem;

  .stage {
    padding: 45px 65px;
    color: #666;
    a {
      color: #666;
    }
  }

  &.question-1 {
    .stage {
      padding: 45px 65px;

      &:first-child {
        padding: 45px 65px 0;
        .wizard--page-body {
          background: url("/static/img/ui/sprite-fixtures.png") no-repeat -70px -120px;
          height: 135px;
          max-width: 915px;
        }
      }

      &:first-child + div {
        h2 {
          position: absolute;
          left: -9999px;
        }
        padding: 20px 65px;
      }
    }
  }

  // overrides
  .noUiSlider {

    @include border-radius(.3rem);
    border: none;
    border-left: 1px #87aac7 solid;
    border-top: 1px #87aac7 solid;

    div {
      margin-top: -1px;
      background-color: #21ac62;
      border: none;
      height: 25px;
      position: relative;
      z-index: 9001;
      &:after {
        content: "";
        position: absolute;
        width: 13px;
        height: 13px;
        background: #21ac62;
        top: 17px;
        left: 0;
        z-index: 50;
        margin-left: 2px;
        @include rotate(45deg); /* Prefixes... */
        @include border-radius(.2rem);
      }
    }

    .question-answer {

      &[href]:before {
        display: block;
        height: 10px;
        width: 10px;
        position: absolute;
        background: #E2EDF5;
        top: -2px;
        left: 10px;
        content: "";
        z-index: -1;
        @include border-radius(10rem);
      }

      position: relative !important;
      @include inline-block;
      width: auto;
      height: auto;
      padding: 1.3rem 10px .3rem;
      margin: 20px 21px 0 !important;
      background: none;
      border: none;
      cursor: pointer;
      z-index: 1;
      &:nth-child(2) {
        margin: 20px 25px 0 -15px !important;
        background: none !important;
      }
      &:hover {
      }
    }
  }
  
  .wizard--page-footer {
    a.back,
    a.forward {
      @include border-radius(5rem);
      background: url("/static/img/ui/sprite-fixtures.png") no-repeat scroll 20px -450px #E2EDF5;
      height: 5rem;
      left: -15%;
      line-height: 0;
      padding: 2.5rem 0 0;
      position: absolute;
      top: 25%;
      width: 5rem;
      color: #fff;
      border: none !important;
      span.label {
        text-indent: -9999px;
        display: block;
      }
      &:hover {
        background-position: 20px -450px !important;
        left: -16%;
        @include transition-property(left);
        @include transition-duration(0.1s);
        @include transition-timing-function(ease-in);
      }

      &.forward {
        background-position: -70px -450px !important;
        right: -15% !important;
        left: auto !important;
        display: none;

        &.visible {
          display: block;
        }

        &:hover {
          background-position: -70px -450px !important;
          right: -16% !important;
          left: auto !important;
          @include transition-property(right);
          @include transition-duration(0.1s);
          @include transition-timing-function(ease-in);
        }

      }
    }
  }

  .wizard--page-title {
    h1 {
      @include page-title();
      position: absolute;
      background-position: 0px -166px;
      top: -10rem;
      text-align: center;
      left: 50%;
      margin: 30px 0 10px -457px;
      width: 915px;
    }
    h2 { 
      text-align: left; 
      text-transform: uppercase;
    }
  }

  .wizard--page-body {

    margin-bottom: 0;

    .noUiSlider {
      margin: 0 auto;
      a[style] {
        z-index: 20 !important;
      }
    }

    label.prompt {
      border-bottom: 10px #eee double;
      padding-bottom: 1rem;
      cursor: help;

      .figure {
        @extend .row !optional;
        //border-bottom: 10px #eee double;
        margin-top: 1.5rem !important;
        div.guide {
          @extend .columns !optional;
          @extend .small-4 !optional;
          text-align: right;
          img {
            margin-bottom: 1rem;
          }
        }

        div.caption {
          @extend .columns !optional;
          @extend .small-8 !optional;
          text-align: left;
          p {
            display: block;
            font-size: 2.5rem;
            margin-bottom: 0;
          }

        }
      }
    }

    ul {
      &.step-2-answers {
        text-align: left;
        a.button {
          box-shadow: none !important;
          background: #F7F9FB;
          padding-left: 0;
          &:hover,
          &.selected,
          &:active {
            background: #F7F9FB;
            color: #222;

            &:before {
              background: #00AB6B;
              @include transition-property(background);
              @include transition-duration(0.3s);
              @include transition-timing-function(linear);
            }
          }
          &:active,
          &:focus {
            border-top: none !important;
          }
          &:before {
            content: " ";
            width: 20px;
            height: 20px;
            background: #CBDFEC;
            display: block;
            @include border-radius(.2rem);
            float: left;
            margin: -2px .5rem 0 0;
          }
        }
      }

      margin: 1.5rem 0 0 0;
      text-align: center;
      li {
        @include inline-block;
        margin: 0 .5rem;
        label {
          a { 
            background: #CBDFEC;
            padding: 1rem 3.5rem;
            font-weight: 400;
            border: none;
            @include border-radius(.3rem);

            &:hover {
              background: #21AC62;
              color: #fff;
            }

            &:active,
            &:focus {
              box-shadow: none;
            }

            &.selected {
              @include translateY(-3px);
              opacity: .7;
              &:hover {
              }
            }
          }
        }
        label.selected {
          a {
          }
        }
      }
    }
  }
}


// Brand Phases

.brand-phase {

  &[id*="scents"] {
    .wizard--page-body {
      ul {
        font-size: .8rem;
      }
    }
  }

  &.prep-brand {
    .stage {
    }
  }

  &.brand-picks {

    padding-bottom: 2rem;

    .layout { 

      .page--container {

        .page-title {
          @include page-title;
        }

        .page-footer {
          text-align: center;
          margin: 2rem 0 1rem;
        }

        .page-body {
          @include clearfix;
          .note {
            color: #031b2d;
            text-align: center;
            margin: 0 0 2rem;
          }
          & > ul {
            @extend .row !optional;
            height: 30rem;
            & > li {
              position: relative;
              text-align: center;
              @extend .columns !optional;
              @extend .small-4 !optional;
            }
          }
        }
      }
    }

    .hidden {
      @include hide-text;
    }
  }


  &.prep-brand {

    .wizard--page-body {
    }

    .wizard--page-footer {
    }
  }

  &.brand-phase-pref {

    // @note this will be a relief!
    &.pref-type-favorite-scents {
      display: none;
      &.selected-brand { 
        &.show {
          display: block;
        }
      }

      .stage {

        .wizard--page-title {
          margin-bottom: 1rem;
          background: url('/static/img/ui/sprite-fixtures.png') 0 -160px no-repeat;
        }

        .wizard--page-body {
          @include box-shadow(0 0 .5rem #74b4e1);
          @include border-radius(.4rem);

          ul {
            li {
              width: auto;
              a {
                width: 150px;
                height: 150px;
                border: none;
                padding: 0;
                box-shadow: none;
                background: transparent;
                @include border-radius(0);

                .button {
                  @include std-btn;
                }
              }
            }
          }
        }
      }
    }

    color: #fff;

    .note {
      text-align: center;
    }

    .sep {
      position: absolute; 
      top: 50%; 
      left: 100%;
      color: #ccc;
    }

    .wizard--page-title {
      text-align: center;
      h1 {
        background: none;
        margin: 0;
        padding: 0;
        //text-shadow: 0 0 .5rem #031b2d;
      }
    }

    ul {
      @extend .row !optional;

      // @todo we may want to ping the designer for direction on "visited" state
      .single {
        opacity: .5;

        &.selected {
          opacity: 1;
          border: 3px #21AC62 solid;
        }

        &:hover {
          opacity: 1;
        }

        &:active,
        &:focus {
          @extend .wiggle;
          opacity: 1;
        }
      }

      li {
        @extend .columns !optional;
        @extend .small-6 !optional;

        text-align: center;

        a {
          background: #fff;
          border: 3px solid #9fc9e7;
          display: block;
          @include border-radius(10rem);
          box-shadow: 0 0 1.3rem #031b2d;
          height: 18rem;
          width: 18rem;
          padding: 2rem;
          margin: 0 auto 1rem;
          position: relative;
          vertical-align: bottom;

          &:hover {
            @include transition-property(border);
            @include transition-duration(0.3s);
            @include transition-timing-function(linear);
            border: 3px solid #21AC62;
          }
        }

        img {
          max-width: 100px; 
          margin-top: -50px;
          top: 50%;
          position: relative;
          vertical-align: top;
        }
      }

    }

    .wizard--page-body {

    }

    .wizard--page-footer {
      a {
        @include std-btn;
      }
    }

  }


  &.brand-phase-info {

    .wizard--page-body {

    }

  }

}

// Brand Orbital

.brand-orbital {

  &.hide {
    display: none;
  }

  .layout {
  }

  .page--container {
    .page-title { 
      // @note .row
      @include page-title();
    }
    .page--section {
      @extend .row !optional;  

      .page-body { 
        @extend .columns !optional;
        @extend .small-9 !optional;
      }
      .page-sidebar { 
        @extend .columns !optional; 
        @extend .small-3 !optional;
      }
    }
  }

  .m.m--product-orbit {
    ul.product-orbit {
    }
  }

}

