{% load sekizai_tags compressed %}<!DOCTYPE html>
%html{ :lang => 'en' }
  %head
    %meta{ :charset => 'utf-8' }
    %meta{ :name => 'x-csrf-token', :content => '{{ csrf_token }}' }
    %meta{ :name => 'stripe-public-key', :content => '{{ STRIPE_PUBLIC_KEY }}' }
    %title dateplat.com | Heuristic Automation for Journaled Shipping | A Cernol Product
    %link{
      :rel => "shortcut icon",
      :href => "{{ STATIC_URL }}img/ui/favicon.png"
    }

    %link{
      :rel => "stylesheet",
      :href => "https://storage.googleapis.com/code.getmdl.io/1.0.5/material.indigo-pink.min.css"
    }
    %script{
      :src => "https://storage.googleapis.com/code.getmdl.io/1.0.5/material.min.js"
    }
    %link{
      :rel => "stylesheet",
      :href => "https://fonts.googleapis.com/icon?family=Material+Icons"
    }

    %link{
      :href => 'https://fonts.googleapis.com/css?family=Poiret+One|Cuprum:400,700',
      :rel => 'stylesheet',
      :type => 'text/css'
    }

    - include "css-base.tmpl.haml"
    - include "js-init.tmpl.haml"


  %body{ :class => 'eP' }

    .app-assistive
      %nav
        %ul
          %li
            %a{ :href => "#content" } Skip to content
            %a{ :href => "#progress" } Skip to progress
            %a{ :href => "#social" } Skip to social
            %a{ :href => "#pagination" } Skip to pagination

    .app-container
      .app-header
        .inner
          - block app_header
            .app-logo
              %a{ :href => '{{ SITE_URL }}', :title => 'Dateplat' } 
                %span &nbsp;

          - block app_login
            .app-login
              %a{ :href => '#pantry-login', :class => 'button' }
                %span Login

          - block app_progress
            %script{ :type => "text/template", :id => "app-progress-breadcrumb" }
              #progress.m.m--progress
                .m-body
                  .progress-bar
                    %ul
                      %li.init .
                %span.percentage NN%
                .m-note
                  You're almost there!

          - block app_pagination
            %script{ :type => "text/template", :id => "app-signup-paginator" }
              #pagination.m.m--pagination
                .m-body
                  %ul
                    %li.arrow.prev
                      %a{ :href => "#" } Previous
                    %li.arrow.next
                      %a{ :href => "#" } Next

          - block app_social
            #social.m.m--social
              .m-body
                %ul
                  %li
                    %a{ :href => "https://twitter.com/dateplat", :target => "_blank" }
                      %span.icon-twitter
                  %li
                    %a{ :href => "http://www.facebook.com/dateplat", :target => "_blank"  }
                      %span.icon-facebook
                  %li
                    %a{ :href => "http://www.linkedin.com/company/dateplat", :target => "_blank"  }
                      %span.icon-linkedin
                  %li
                    %a{ :href => "https://plus.google.com/++++++++++++++++++/", :target => "_blank"  }
                      %span.icon-google-plus
      - block app_intro
      .app-content
        #content
          - block app_content
      .app-modals
      .app-history
    - block modal_customized_schedule
      - include "bones-brand-intro-customized-schedule.tmpl.haml"

    - include "bones-pantry-question.tmpl.haml"
    - include "bones-brand-phase.tmpl.haml"
    - include "bones-brand-orbital.tmpl.haml"
    - include "bones-brand-complete.tmpl.haml"
    - include "bones-product.tmpl.haml"
    - include "bones-faq.tmpl.haml"
    - include "bones-brand-discovery-prices.tmpl.haml"
    - include "bones-brand-discovery-bulk.tmpl.haml"
    - include "bones-create-pantry.tmpl.haml"
    - include "bones-pantry-sign-up.tmpl.haml"
    - include "bones-pantry.tmpl.haml"
    - include "pay.tmpl.haml"
    - include "js-base.tmpl.haml"
    {% render_block "js" %}

