%script{ :type => "text/template", :id => "m--shipment-item" }

  <li class="m--product m--shipment-item shipment-item-'<%= item.get('id') %>">

    <div class="m-image columns small-4">
      <img class="m-image" src="<%= item.get('image') %>" alt="Drag <%= item.get('name') %>" />
    </div>

    <span class="m-name columns small-5"><%= item.get('name') %>'</span>

    <ul class="m-control columns small-3">
      <li>
        <div class="m m--control">
          <div class="m-title">
            <label for="product-'<%= item.get('id') %>'">
              QTY
            </label>
          </div>
          <div class="m-body">
            <input title="Add or remove items of this product" class="quantity" readonly="readonly" id="product-<%= item.get('id') %>" value="<%= item.get('quantity') %>" />
            <span class="quantity-add button"><span class="" title="Add One">+</span></span>
            <span class="quantity-remove button"><span class="" title="Remove One">-</label></span>
          </div>
        </div><!-- End .m--control -->
      </li>
    </ul>

  </li>
