%script{ :type => "text/template", :id => "app-error" }

  .error-modal.reveal-modal.small.e--full-viewport.e--rounded-modal
    .stage
      .notification--page-title
      .notification--page-body
        %p <%= content %>
      .notification--page-footer
        %button.button Okay!

%script{ :type => "text/template", :id => "page--pantry" }

  .m.m--pantry
    .m-title
      %h1 Your Dashboard
    .m-nav
      %nav 
        %ul
          %li
            %a{ :class => "button settings", :href => "#settings/<%= name %>", :title => "View Settings for <%= name %>", :tabindex => "1" } Settings
          %li
            %a{ :class => "button add-products", :href => "#add-product", :title => "Add Products", :tabindex => "2" } Add Products
    .m-body
      .m.m--pantry-calendar
        .loader
          .bubbling
            %span.b_1
            %span.b_2
            %span.b_3
        %table.m-calendar
          %thead
            %th
              Order by Months
            %th
              Order by Quantity
          %tbody
    .m-footer
      .m.m--pantry-panel
        .m-label
          %a{ :href => "#", :class => "reveal-months" } View More Months
        .m-pay
          %a{ :href => "/pay/", :class => "reveal-checkout button" } Checkout
        .m-savings
          .canopy
            %ul
              / "week" spec
              %li.week
                %dl
                  %dt Average Weekly Per Person
                  %dd
                    .v 
                      %span $3.75
                    .l 
                      %span Avg. Weekly Per Person
          %dl.log
            %dt.cost Annual Cost
            %dd.cost $522.00
            %dt.save Annual Savings 
            %dd.save $68.00
            %dt.week Avg. Weekly Per Person
            %dd.week $3.75
        .m-footprint
          %dl.define-footprint
            %dt.petrol
              Petrol
            %dd.petrol
              .v 50 Gal.
              .l Saved per year
            %dt.paper
              Paper
            %dd.paper
              .v 27 Lbs
              .l Paper saved
            %dt.water
              Water
            %dd.water
              .v H<sub>2</sub>0
              .l Saved
        .m-stash
          %a{ :class => "bin", :href => "#", :tabindex => "3" }
          %ul.history
            %li.m--shipment-item [ Product Pill ]
