%script{ :type => "text/template", :id => "wizard--product" }
  / product...
  .product{ :id => "<%= slug %>", :class => "reveal-modal small product-<%= id %>", :itemscope => "", :itemtype => "http://schema.org/Product" }
    .stage.row
      .wizard--page-title
        %h1{ :itemprop => "name" } <%= name %>
      .wizard--page-body
        %img{ :src => "<%= canonical_image %>", :alt => "<%= canonical_description %>" }
        .caption{ :itemprop => "description" } 
          %p <%= canonical_description %>
      .wizard--page-footer
        %span.close-reveal-modal x
