%script{ :type => "text/template", :id => "wizard--pantry-sign-up" }
  / pantry intro...
  #pantry-sign-up.reveal-modal.medium.e--full-viewport.e--rounded-modal
    .stage.row
      .wizard--page-title
        %h1 Have an e-mail address?
      .wizard--page-body
        .note
          %span We promise not to spam you.
        .m.m--add-email
          .m-body
            %input{ 
              :class => 'add-email', 
              :placeholder => "E-mail" 
            }
      .wizard--page-footer
        %a{ 
          :class => "secondary button", 
          :href => "#question-1" } Next: Get To Know You
