#better-prices.reveal-modal.large
  .stage.row
    .wizard--page-title
      %h1 Better Prices
    .wizard--page-body
      %img{ :src => "static/img/screenshot-better-prices.png", :alt => "Nulla vitae elit libero, a pharetra augue." }
      %p Nulla vitae elit libero, a pharetra augue. Sed posuere consectetur est at lobortis.
    .wizard--page-footer
      %span.close-reveal-modal x
