%script{
  :type => "text/template", 
  :id => "wizard--branding-complete" 
}
  / branding complete...
  #nice-work
    .reveal-modal
    .medium
    .e--full-viewport
    .e--rounded-modal
    .stage
    .row
      .wizard--page-title
        %hgroup
          %h1 Nice work!
          %h2 The 5 minutes you just spent will save you:
      .wizard--page-body
        %ul
          %li Hours of extra time
          %li Hard earned cash
          %li 300 pounds of paper a year
          %li 500 gallons of water a year        
        %p 
          %a{ :href => "#", :class => "reveal-pantry button" } Next
      .wizard--page-footer
