- extends "base.tmpl.haml"

- block app_intro
  .app-intro
    .m.m--login
      .inner
        .m-title
          %h1 Heuristic Automation <br />
            for Journaled Shipping
        .m-body
          %form.mini-form{ :action => '#pantry-create' }
            .mdl-textfield.mdl-js-textfield
              %input{
                :id => 'secret',
                :type => 'text',
                :placeholder => 'Enter code',
                :class => 'mdl-textfield__input'
              }
              %label{
                :for => 'secret',
                :class => 'mdl-textfield__label'
              } Already invited?
            %button{ :type => 'submit' }
              %i.material-icons
                navigate_next
          %form.mini-form{ :action => '{% url "sign-up" %}' }
            .mdl-textfield.mdl-js-textfield
              %input{
                :id => 'sign-up',
                :type => 'text', 
                :class => 'mdl-textfield__input',
                :placeholder => 'Enter email' }
              %label{ :for => 'sign-up',
                :class => 'mdl-textfield__label'
                } Want to be?
            %button{ :type => 'submit' }
              %i.material-icons
                control_point
  / .app-intro

- block app_content
  %article.app--page.landing
    .page
      .page-body

        %h1 Bringing Change Tracking to the Blockchain
        .mdl-grid
          .mdl-cell.mdl-cell--6-col
            %blockquote
              %p "The map is not the territory."
              %div.cite
                %span.sep &mdash;
                %span Tarski
          .mdl-cell.mdl-cell--6-col
            %p
              Dateplat brings Evaluative Modeling to timestamped metadata 
              structures notarized by off-chain distributed plats (journaling 
              chains). Read the <a href="#white-paper">White Paper</a>.

        %h2 Distributed Plats and Chain receipts
        %p
          Chain receipts and chain blocks are rapidly becoming a standard 
          implementation detail in alt-coin/app coin scenarios. Dateplat 
          focuses on a Public Domain Ontology not unlike <a href="https://schema.org">Schema.org</a>, 
          to build Action Spaces into the Blockchain's meta-architecture, 
          where Action Spaces behave in REST-like ways. Projective Schedules 
          are journaled to facilitate change tracking conceptual rules, 
          and apply them to prioritized content management through 
          secured, privately signed Chain receipts.

        %h2 Nitty Gritty
        %ul
          %li.-first.perk
            %i.material-icons
              account_balance_wallet
            .content
              %h2 Delivery Modeling
              %p 
                Tell us a little about your yard or lot, then select the 
                products you like to use. We handle the rest.
          %li.-second.perk
            %i.material-icons
              assignment
            .content
              %h2 Develop Schedules
              %p 
                Add or remove products, change tracking of schedules, all on 
                your personal dashboard.
          %li.-third.perk
            %i.material-icons
              dashboard
            .content
              %h2 Reduce Review Costs
              %p 
                With an average weekly cost of $30.41/hr per person, 
                Dateplat is cheaper than your landman.
      / .page-body
      .page-footer
        %h3 Built With Standards
        %ul
          %li.first.brand
            %a{ :href => 'https://openchain.org' } Openchain
          %li.second.brand
            %a{ :href => 'https://www.djangoproject.com' } Django
          %li.third.brand
            %a{ :href => 'https://digitalocean.com' } Digital Ocean
          %li.fourth.brand
            %a{ :href => 'https://postgresql.org' } PostgreSQL
          %li.fifth.brand
            %a{ :href => 'https://angularjs.org' } AngularJS
      /.page-footer
