{% if answers %}
    <div class="answers_sublist">
        <span></span>
        <div>
            {{ answers|length }} answers
        </div>
        <ul>
            {% for answer in answers %}
                <li>{{ answer.text }} &nbsp({{ answer.value }})</li>
            {% endfor %}
        </ul>
    </div>
{% endif %}