{% extends "!layout.html" %}

{% block doctype %}
<!doctype html>
{% endblock %}

{% block extrahead %} 
{{ super() }}
<!--link href='http://fonts.googleapis.com/css?family=Overlock:400,700,400italic,700italic' rel='stylesheet' type='text/css'-->
<script src="http://use.edgefonts.net/overlock.js"></script>
<script src="http://use.edgefonts.net/anonymous-pro.js"></script> 
<link rel="stylesheet" href="{{ pathto('_static/ui/stylesheets/style.css', 1) }}" type="text/css" />
{% endblock %}

{% block header %}
    {%- if big_logo %}
       <div style="background-color: white;>
           <img src="" alt="logo" />
       </div>
    {% endif %}
{% endblock %}
