%script{ :type => "text/template", :id => "wizard--faq" }
  / faq...
  #faq.reveal-modal.medium
    .stage.row
      .wizard--page-title
        %h1 Frequently Asked Questions
      .wizard--page-body
        %dl
          %dt Why can't I see prices?
          %dd Product prices vary depending on how much you select. The more products you get through ePantry, the cheaper they are. We calculate the best prices possible for you at the end.
          %dt Why I can't I select product quantities?
          %dd We take the data that you've inputted in the upfront and run them through our advanced algorithms that spit out the recommended quantities for your household - you'll see this at the end! Don't worry, you can make any changes you want to the quantity at that time.
          %dt What if I wanted more than 1 brand?
          %dd By buying all one brand, we can get you amazing savings. Who you kidding - we know you'd rather see great savings than be picky about what type of glass cleaner is under your sink.
          %dt How do I select scents?
          %dd You'll do that in the next section.
      .wizard--page-footer
        %span.close-reveal-modal x

