%script{ :type => "text/template", :id => "wizard--brand-phase-init" }

  %div{ :id => "pick-products", :class => "brand-phase brand-phase-init reveal-modal medium e--full-viewport e--rounded-modal" }
    .stage
      .wizard--page-title
        %h1 Nice work out there
      .wizard--page-body
        %p Now for the fun part...
      .wizard--page-footer
        %a{ 
          :class => "next button", 
          :href => "#next" } Step 2: Pick My Products


%script{ :type => "text/template", :id => "wizard--brand-phase" }

  / "prep-brand-phase"
  %div{ :id => "thanks-for-the-<%= b.type %>", :class => "reveal-modal medium prep-brand brand-phase e--full-viewport e--rounded-modal" }
    .stage
      .wizard--page-title
        %h1 You're Clean
      .wizard--page-body
        %p Now time to select your household paper.
      .wizard--page-footer
        %ul
          %li
            %a{ 
              :class => "next button", 
              :href => "#next" } Continue
          %li
            %a{
              :class => "skip button secondary",
              :href => "#skip" } No Thanks
          
  / End .prep-brand

  / "brand picks"
  %div{ :id => "brand-<%= b.type.toLowerCase() %>", :class => "brand-phase brand-picks <%= b.type.toLowerCase() %> row" }
    .layout.small-12.columns
      .page--container
        .page-title
          %h1 <%= b.page_title %>
        .page-body
          .note
            %p All Options are All-Natural Powerful Cleaners &mdash; You Can't Go Wrong 
          %ul.row
            <% _.each(b.brands, function(brand) { %>
              <li class="columns small-4">
                <div class="m m--brand-info" itemscope itemtype="http://schema.org/Brand">
                  <link 
                    itemprop="additionalType" 
                    href="http://www.productontology.org/id/Brand" />
                  <div class="m-title">
                    <a 
                      href="#add-brand" 
                      class="add-brand" 
                      data-brand-type="<%= b.type %>"
                      data-slug="<%= brand.slug %>"
                      data-brand-id="<%= brand.id %>">
                      <img itemprop="logo" src="<%= brand.logo_image %>" alt="<%= brand.name %> Logo" class="logo-image" />
                      <img itemprop="image" src="<%= brand.canonical_image %>" alt="<%= brand.name %>" class="canonical-image" />
                      <span class="button">Select 
                        <span class="hidden" itemprop="name"><%= brand.name %></span>
                      </span>
                    </a>
                  </div><!-- End .m-title -->
                  <div class="m m--triangle"></div>                
                  <div class="m-body">
                    <div class="m-value row">
                      <div class="heading">Value</div>
                      <div class="content">
                        <ul>
                          <li class="point">$</li>
                          <li class="point">$</li>
                          <li>$</li>
                        </ul>
                      </div>
                    </div><!-- End .m-value -->
                    <div class="m-health row">
                      <div class="heading">Health Score</div>
                      <div class="content">
                        <ul>
                          <li class="point">&#10084;</li>
                          <li class="point">&#10084;</li>
                          <li class="point">&#10084;</li>
                          <li>&#10084;</li>
                          <li>&#10084;</li>
                        </ul>
                      </div>
                    </div><!-- End .m-health -->
                    <div class="m-strength row">
                      <div class="heading">Strength</div>
                      <div class="content">
                        <ul>
                          <li class="point">&#10042;</li>
                          <li class="point">&#10042;</li>
                          <li class="point">&#10042;</li>
                          <li class="point">&#10042;</li>
                          <li>&#10042;</li>
                        </ul>
                      </div>
                    </div><!-- End .m-strength -->
                    <div class="m-origin">
                      <%= brand.origin %>
                    </div><!-- End .m-origin -->
                    <div class="m-info">
                      <a href='/#<%= b.type %>-<%= brand.slug %>-info' data--reveal-id="<%= b.type %>-<%= brand.slug %>-info" title="More Details &amp; Product Image">More details</a>
                    </div><!-- End .m-info -->
                  </div><!-- End .m-body -->
                </div><!-- End .m--brand-info -->
              </li>
            <% }); %>
        .page-footer.row
          .inner.columns.small-12
            %small All options are All-Natural
  / End .brand-picks

  <% _.each(b.brands, function(brand) { %>
    <% _.each(brand.preferences, function(pref) { %>
      <div id="preference-<%= b.type %>-<%= brand.slug %>-<%= _.string.slugify(pref.name) %>" class="<% if (pref.has_many != true) { %>reveal-modal e--full-viewport<% } %> brand-phase brand-phase-pref pref-type-<%= _.string.slugify(pref.name) %> brand-phase-<%= b.type %>">
        <div class="stage row">
          <div class="wizard--page-title">
            <h1><%= pref.name %></h1>
          </div>
          <div class="wizard--page-body">
            <div class="note">
              <p> 
                <%= pref.question %>
              </p>
            </div>
            <ul>
              <% _.each(pref.options, function(option) { %>
                <li>
                  <% if (pref.has_many) { %>
                    <a 
                      class="multiple" 
                      href="#next"
                      data-name="<%= b.type %>_<%= pref.slug %>"
                      data-value="<%= option.id %>"
                      data-brand-type="<%= b.type %>">
                      <img
                        src="<%= option.image %>" 
                        alt="<%= option.label %>" />
                      <button class="button">Select</button>
                    </a>
                    <div><%= option.label %></div>
                  <% } else { %>
                    <a 
                      class="single next" 
                      href="#next"
                      data-name="<%= b.type %>_<%= pref.slug %>"
                      data-value="<%= option.id %>"
                      data-brand-type="<%= b.type %>">
                      <img
                        src="<%= option.image %>" 
                        alt="<%= option.label %>" />
                    </a>
                    <div><%= option.label %></div>
                    <p title="Product Description"></p>
                    <% if (pref.has_many != true && _.first(pref.options) == option) { %>
                      <span class="sep">or</span>
                    <% } %>
                  <% } %>
                </li>
              <% }); %>
            </ul>
          </div>
          <div class="wizard--page-footer">
            <a href="#back" class="back button">Back</a>
            <% if (pref.has_many) { %>
              <a href="#next" class="next button">Next</a>
            <% } %>
          </div>
        </div><!-- End .stage -->
      </div><!-- End .brand-phase-pref -->
    <% }); %>

    <div id="<%= b.type %>-<%= brand.slug %>-info" class="reveal-modal medium brand-phase brand-phase-info">
      .stage
        .wizard--page-title
          %h1 
            %img{ :src => '<%= brand.canonical_image %>', :alt => "<%= brand.name %>" }
        .wizard--page-body
          .page-brand
            .figure
              %img{ :src => '<%= brand.canonical_image %>' }
              .caption
                %ul
                  %li 100% Recycled Plastic
                  %li Safe in presence of children, pets and expectant women.
                  %li No bleach, phosphates or any other ingredient that causes harsh fumes.
                  %li Cruelty-free.
          .page-footer
            %ul
              %li
                %a{ :href => "#", :data-brand-type => '<%= b.type %>', :data-brand => '<%= brand.slug %>', :class => "next button" } Next
        .wizard--page-footer
    </div><!-- End .brand-phase-info -->
  <% }); %>
