%script{ :type => "text/template", :id => "wizard--discovery-prices" }
  / discovery pricing...
  #discovery-prices.reveal-modal.medium

    .stage.row

      .wizard--page-title

        %h1 Where are the prices?

      .wizard--page-body

        %img{ :src => "static/img/demo/method-hand-soap-image-03.png", :alt => "Where are prices listed alt" }

        .caption 

          %p Maecenas faucibus mollis interdum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.

      .wizard--page-footer
        %span.close-reveal-modal{ :title => "Close" } x
