%script{ :type => "text/template", :id => "wizard--create-pantry" }
  / pantry intro...
  #create-pantry.reveal-modal.medium.e--full-viewport.e--rounded-modal
    .stage.row
      .wizard--page-title
        %h1 We're building you a customized delivery schedule
      .wizard--page-body
        %p Only takes two steps to get there
        %ul.row
          %li.columns.small-6 Step 1:  <br />
              Help us get to know you
          %li.columns.small-6 Step 2:  <br />
              Choose the products you want scheduled
      .wizard--page-footer
        %a{ 
          :class => "next button", 
          :href => "#pantry-sign-up" } Let's go!
