#customized-schedule.reveal-modal.medium
  .stage.row
    .wizard--page-title
      %h1 Customized Schedule
    .wizard--page-body
      %img{ :src => "static/img/screenshot-customized-schedule.png", :alt => "Nulla vitae elit libero, a pharetra augue.", :width => "400" }
    .wizard--page-footer
      %span.close-reveal-modal x
