%script{ :type => "text/template", :id => "wizard--discovery-bulk" }
  / discovery bulk...
  #discovery-bulk.reveal-modal.medium

    .stage.row

      .wizard--page-title

        %h1 Why buy bulk?

      .wizard--page-body

        %img{ :src => "static/img/demo/method-hand-soap-image-03.png", :alt => "Why buy bulk alt" }

        .caption 

          %p Maecenas faucibus mollis interdum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.

      .wizard--page-footer
        %span.close-reveal-modal x
