%script{ :type => "text/template", :id => "wizard--pantry-question" }
  %div{ :id => "question-<%= position %>", :class => "question-<%= position %> wizard-question" }
    .stage
      .wizard--step{ :class => "step-<%= position %>" }
        <% if (position != 2) { %>
          <span class="step">
            <span class="label">Step</span>
            <% if (position < 2) { %>
            <span class="cmpnnt"><%= position %></span>
            <% } else { %>
            <span class="cmpnnt"><%= (position-1) %></span>
            <% } %>
          </span>
        <% } %>
      .wizard--page-title
        <% if (position != 2) { %>
          <h1>About Your Household</h1>
        <% } %>
        %h2 <%= title %>
      .wizard--page-body
        %label.prompt{ :title => "<%= text %>" }
          %p <%= text %>
        %ul{ :class => "step-<%= position %>-answers"}

          <% if (position == "1") { %>

            <li>
              <span id="ui-0" class="question-1 question-answer">0</span>
            </li>

          <% } %>

          <% 
            var answers = answers.sort(function(a, b) {
              if (a.id > b.id) {
                return 1;
              }
              if (b.id > a.id) {
                return -1;
              }
              return 0;
            });
            _.each(answers, function(answer, iterator, c) { 
          %>
            <li>
              <label for="ui-<%= answer.id %>">

                <% if (position == "1") { %>

                  <a data-answer="<%= answer.id %>" id="ui-<%= answer.id %>" href="#<%= (set_size == position) ? ('brand-soap') : ('question-'+(position+1)) %>" tabindex="<%= iterator %>" class="question-<%= position %> question-answer"><%= answer.text %></a>

                <% } else { %>

                  <a 
                    href="#<%= (set_size == position) ? ('brand-soap') : ('question-'+(position+1)) %>" 
                    id="ui-<%= answer.id %>" 
                    data-answer="<%= answer.id %>" 
                    tabindex="<%= iterator %>"
                    class="question-<%= position %> secondary button">
                    <%= answer.text %>
                  </a>

                <% } %>

              </label>
            </li>
          <% }); %>

        <% if (position == "1") { %>
          <div class="noUiSlider"></div>
        <% } %>

      .wizard--page-footer
        <% if (position != "1") { %>
          <a href="#back" class="back hint hint--top hint--rounded hint--info" data-hint="Go back!"><span class="label">Back</span></a>
          <a href="#forward" class="forward hint hint--top hint--rounded hint--info" data-hint="Move on!"><span class="label">Forward</span></a>
        <% } %>
