%script{ :type => "text/template", :id => "wizard--prep-brand-orbital" }
  %div{ :id => "product-removal", :class => "reveal-modal medium product-removal e--full-viewport e--rounded-modal" }
    .stage.row
      .wizard--page-title
        / %h1 Our Suggestions
      .wizard--page-body
        %p Remove the products you don't want us to schedule for you.
      .wizard--page-footer
        %a{ :class => "button" } Okay!


%script{ :type => "text/template", :id => "page--brand-orbital" }
  .brand-orbital{ :id => "<%= removal_type %>" }
    .layout
      .page--container
        .page-title
          %h1 <%= page_title %>
        .page-note
          %p 
            %span.tip Remove 
            products you 
            %span.tip don't want.
        %section.page--section
          .page-body
            .m.m--product-orbit
              %ul.product-orbit
                <% _.each(products, function(product) { %>
                  <!-- 
                    @hack 28 2013 04 11:45:39 
                    "foamy" is the hack here, "gel" is presented
                  -->
                  <% if (product.parent_product == null && product.name.indexOf('Foamy') == -1) { %>
                    <li class="m m--product">
                      <div class="m-title">
                        <a id="product-<%= product.id %>-thumbnail" href='/#product-<%= product.id %>' data--reveal-id='product' title='<%= product.name %>' data-id='<%= product.id %>'>
                          <%= product.name.replace(/\((.+)\)/, "") %>
                        </a>
                      </div><!-- .m-title -->
                      <div class="m-image">
                        <img src='<%= product.image %>' alt='<%= product.canonical_description %>' title='<%= product.name %>' />
                      </div><!-- .m-image -->
                      <div class="m-control">
                        <a href='/product/<%= product.id %>/#remove' class='small remove button add-product' title='Add <%= product.name %> back'>
                          Add back 
                        </a>
                        <a href='/product/<%= product.id %>/#remove' class='small remove button remove-product' title='Remove <%= product.name %>'>
                          Remove 
                        </a>
                      </div><!-- .m-remove -->
                    </li>
                  <% } %>
                <% }); %>
          .page-sidebar
            .m.m--faq
              .m-title
                %h2 
                  %a{ :href => "#faq", :title => "", :data--reveal-id => "faq" } FAQs
            .m.m--savings
              .m-title
                %h2 Your Annual Savings
              .m-body
                %p How much cheaper than:
                %dl
                  %dt Local retailer:
                  %dd $35
                  %dt Online average:
                  %dd $15
            .m.m--navigation
              .m-body
                %nav.page
                  %ul.row
                    %li.columns.small-6
                      %a{ :href => "#back", :class => "back secondary button" } Back
                    %li.columns.small-6
                      %a{ :href => "#save", :class => "next button" } Next
