/Profile - Shipping - Billing
/We'll call this the "adoption" flow,
/since customers adopt an ePantry based
/on our recommendation (philosophy).
/It could be called "conversion" flow.
%script{ :type => "text/template", :id => "wizard--adoption-phase" }
  #adoption-phase.reveal-modal.large
    .stage.row
      .wizard--page-title
        %h1 
          %img{ :src => "", :title => "{{ logo|default:"ePantry" }}", :alt => "{{ logo_alt|default:"ePantry Logo" }}" }
        %p.adoption-disclaimer {{ disclaimer|default:"Make changes or cancel anytime! 657-444-SUDS" }}
      .wizard--page-flow
        %nav
          %ul
            %li
              %a{ :href => "", :title => "" } {{ position|default:"N" }}
              %span {{ position_label|default:"Label" }}
      .wizard--page-body
        .signup
          /overlay labels
          %input{ :name => "", :value => "" }
        .connect
          /universal auth system: fb, twitter, g+, etc.
      .wizard--page-footer
        %a{ :class => "large round next button", :href => "#" } Next

