    {% load compressed %}

    {% compressed_css 'presentation' %}

    <!--[if IE]>
      <style>
      .reveal-modal-bg {
        background: transparent;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000050,endColorstr=#99000050);
        zoom: 1; 
        } 
      </style>
    <![endif]-->
