- extends "base.tmpl.haml"

- block app_intro
  .app-intro
    .m.m--login
      .inner
        .m-title
          %h1 Autopilot for your <br />
            household supplies <br />
            in under 5 minutes
        .m-body
          %form.mini-form{ :action => '#pantry-create' }
            %label{ :for => 'secret' } Already invited?
            %input{ :id => 'secret', :type => 'text', :placeholder => 'Enter code' }
            %button{ :type => 'submit' } Yes!
          %form.mini-form{ :action => '{% url "sign-up" %}' }
            %label{ :for => 'sign-up' } Want to be?
            %input{ :id => 'sign-up', :type => 'text', :placeholder => 'Enter email' }
            %button{ :type => 'submit' } Yes!
  / .app-intro

- block app_content
  %article.app--page.landing
    .page
      .page-body
        %ul
          %li.first.perk
            .content
              %h2 Customized Delivery
              %p Tell us a little about your household, then select the products you like to use. We handle the rest.
          %li.second.perk
            .content
              %h2 Completely Flexible
              %p Add or remove products, change quantities, all on your personal dashboard.
          %li.third.perk
            .content
              %h2 Economical
              %p With an average weekly cost of $3.41 per person, ePantry is cheaper than your morning latte.
      / .page-body
      .page-footer
        %h3 Earth's Best Brands
        %ul
          %li.first.brand
            %a{ :href => 'http://www.mrsmeyers.com/' } Meyer's Clean Day
          %li.second.brand
            %a{ :href => 'http://methodhome.com/' } Method
          %li.third.brand
            %a{ :href => 'http://www.seventhgeneration.com/' } Seventh Generation
          %li.fourth.brand
            %a{ :href => 'http://www.greenforestpaper.com/' } Green Forest
      /.page-footer
