%script{ :src => 'https://js.stripe.com/v2/' }
%script{ :type => 'text/template', :id => 'page--payment' }
  .payment-modal.reveal-modal
    .page-title
      %h1 Checkout
    .page-nav
      %nav
        %ul
          %li.slice.profile.visible 
            %span.pos 1
            %span.label Profile
          %li.slice.billing 
            %span.pos 2
            %span.label Billing
          %li.slice.shipping 
            %span.pos 3
            %span.label Shipping
    .page-body
      %form{ :class => "payment-form form-default" }
        {% csrf_token %}
        .form-intro
        %aside.note
          .inner
            %div Make changes or Cancel Anytime!
            %div 657-444-SUDS
        %ul.slices
          %li.profile.visible
            .form-row
              %label{ :for => 'name' } Full Name
              %input{ :type => 'text', :size => '23', :id => 'name', :value => '', :tabindex => '1', :data-stripe => "name" }
            .form-row
              %label{ :for => 'name' } Email Confirmation
              %input{ :type => 'text', :size => '23', :id => 'confirm-email', :placeholder => '<%= customer.email %>', :tabindex => '2' }
            .form-row
              %label{ :for => 'name' } Password
              %input{ :type => 'password', :size => '23', :id => 'password', :value => '', :tabindex => '3' }
            .form-row
              %label{ :for => "name" } Confirm Password
              %input{ :type => "password", :size => "23", :id => "confirm-password", :value => '', :tabindex => '4' }
          %li.billing
            .form-row
              %label{ :for => "name" } Name on Card
              %input{ :type => "text", :size => "23", :id => "name", :value => '<%= customer.bill_name %>', :data-stripe => 'name' }
            .form-row
              %label{ :for => "address" } Address
              %input{ :type => "text", :size => "23", :id => "address", :value => '<%= customer.bill_addr1 %>', :data-stripe => 'address_line1' }
            .form-row
              %label{ :for => "address2" } Address - Line 2
              %input{ :type => "text", :size => "23", :id => "<%= customer.bill_addr2 %>", :data-stripe => 'address_line2' }
            .form-row
              %label{ :for => "city" } City
              %input{ :type => "text", :size => "23", :id => "city", :value => '<%= customer.bill_city %>', :data-stripe => 'address_city' }
            .form-row
              %label{ :for => "state" } State
              %select{ :id => "state", :data-stripe => 'address_state' }
                <% 
                  options = ['CA', 'MA', 'SC'];
                  for (var i = 0; i < options.length; ++i) {
                %>
                  <option <% if (options[i] == customer.bill_state) { %>selected="selected"<% } %>><%= options[i] %></option>
                <% } %>
            .form-row 
              %label{ :for => "zip" } Zip
              %input{ :type => "text", :size => "6", :id => "zip", :value => '<%= customer.bill_zip %>', :data-stripe => 'address_zip' }
            .form-row
              %label{ :for => "card-number" } Card Number
              %input{ :type => "text", :size => "23", :autocomplete => "off", :id => "card-number", :value => '4242424242424242', :data-stripe => "number" }
            .form-row
              %label{ :for => "card-cvc" } CVC
              %input{ :type => "text", :size => "4", :autocomplete => "off", :id => "card-cvc", :value => '123', :data-stripe => "cvc" }
            .form-row
              %label{ :for => "card-expiry-month" } Exp. Month (MM)
              %input{ :type => "text", :size => "2", :id => "card-expiry-month", :value => '01', :data-stripe => "exp-month" }
            .form-row
              %label{ :for => "card-expiry-year" } Exp. Year (YYYY)
              %input{ :type => "text", :size => "5", :id => "card-expiry-year", :value => '2015', :data-stripe => "exp-year" }
          %li.shipping
            .form-row
              %label{ :for => "ship-diff" } Ship to <u title="This address may be the same as your Billing Address. That's okay!">this</u> address?
              / @note If unchecked, these fields should also become "required" as per the @billing-address requirements scheme.
              /       05 2013 05 14:34:05
              <% if (customer.ship_different) { %>
                <input id="ship-diff" type="checkbox" checked="checked" />
              <% } else { %>
                <input id="ship-diff" type="checkbox" />
              <% } %>
            .form-row
              %label{ :for => "ship-name" } Ship To Name
              %input{ :type => "text", :size => "23", :id => "ship-name", :placeholder => "<%= customer.ship_name %>" }
            .form-row
              %label{ :for => "ship-address" } Address
              %input{ :type => "text", :size => "23", :id => "ship-address", :placeholder => "<%= customer.ship_addr1 %>" } 
            .form-row
              %label{ :for => "ship-address2" } Address - Line 2
              %input{ :type => "text", :size => "23", :id => "ship-address2", :placeholder => "<%= customer.ship_addr2 %>" }
            .form-row
              %label{ :for => "ship-city" } City
              %input{ :type => "text", :size => "23", :id => "ship-city", :placeholder => "<%= customer.ship_city %>" }
            .form-row
              %label{ :for => "ship-state" } State
              %select{ :id => "ship-state" }
                <% for (var i = 0; i < options.length; ++i) { %>
                  <option <% if (options[i] == customer.ship_state) { %>selected="selected"<% } %>><%= options[i] %></option>
                <% } %>
            .form-row 
              %label{ :for => "ship-zip" } Zip
              %input{ :type => "text", :size => "6", :id => "ship-zip", :placeholder => "<%= customer.ship_zip %>" }
        .form-row.inline
          %ul
            %li.back
              %a{ :class => "button back", :href => '#back' } Back
            %li.next
              %a{ :class => "button next", :href => '#next' } Next
            %li.pay
              %button{ :class => "button pay" } Pay
