div.answers_sublist ul li {
    border-left: 1px solid #DDD;
    border-top: 1px solid #DDD;
    border-right: 1px solid #DDD;
    list-style-type: none;
    padding: 3px;
    cursor: pointer;
}
div.answers_sublist ul li:last-child {
    border-bottom: 1px solid #DDD;
}
div.answers_sublist  div {
    cursor: pointer;
    height: 15px;
    padding-left: 20px;
    background: url('../img/right-arrow-square-blue.png') no-repeat;
}
div.answers_sublist  ul {
    margin-left: 5px;
    display:none;
}
div.answers_sublist  div.expanded {
    padding-bottom: 10px;
    background: url('../img/down-arrow-square-blue.png') no-repeat;
}